@mixin summary() {
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 10px;
}

@mixin text() {
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}

@mixin grid() {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
